[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"
ipython = "*"
codecov = "*"
tox-travis = "*"
black = "==19.10b0"
mypy = "*"
flake8 = "*"
flake8-docstrings = "*"
markdown-include = "*"
isort = "*"
mkdocs-material = "*"
click = "*"
types-click = "*"
mkdocs = "*"
pymdown-extensions = "*"
markdown = "==3.2.2"
mknotebooks = "==0.6.0.post0.dev2"
mkdocs-bibtex = "*"

[packages]

[requires]
python_version = "3.8"
